## Install Required Dependencies
This solution needs several external dependencies. Following will install required dependencies

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error
import joblib as jl

Load the required dataset into memory

In [ ]:
df = pd.read_csv("ml_house_data_set.csv")

## Data Cleaning and Manipulation Steps

In [5]:
# Remove the fields from the data set that we don't want to include in our model
del df['house_number']
del df['unit_number']
del df['street_name']
del df['zip_code']

features_df = pd.get_dummies(df, columns=['garage_type', 'city'])

In [6]:
features_df

,year_built,stories,num_bedrooms,full_bathrooms,half_bathrooms,livable_sqft,total_sqft,garage_sqft,carport_sqft,has_fireplace,...,city_South Anthony,city_South Stevenfurt,city_Toddshire,city_Wendybury,city_West Ann,city_West Brittanyview,city_West Gerald,city_West Gregoryview,city_West Lydia,city_West Terrence
0,1978,1,4,1,1,1689,1859,508,0,True,...,False,False,False,False,False,False,False,False,False,False
1,1958,1,3,1,1,1984,2002,462,0,True,...,False,False,False,False,False,False,False,False,False,False
2,2002,1,3,2,0,1581,1578,0,625,False,...,False,False,False,False,False,False,False,False,False,False
3,2004,1,4,2,0,1829,2277,479,0,True,...,False,False,False,False,False,False,False,False,False,False
4,2006,1,4,2,0,1580,1749,430,0,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42698,1982,1,1,1,0,591,627,0,200,False,...,False,False,False,False,False,False,False,False,False,False
42699,1983,1,1,1,0,592,624,0,204,False,...,False,False,False,False,False,False,False,False,False,False
42700,1983,1,1,1,0,594,618,0,197,False,...,False,False,False,False,False,False,False,False,False,False
42701,1981,1,3,2,0,1398,1401,401,0,False,...,False,False,False,False,False,False,False,False,False,False
42702,1980,1,3,2,0,1401,1406,396,0,False,...,False,False,False,False,False,False,False,False,False,False